// theme.scss

/* Color Theme */
$primary-color: #406185;
$secondary-color: #2d2f30;
$tertiary-color: #d5d5d5;
$highlight-color: white;
$text-color: #b7b7b7;

/* Apply colors to specific elements */
.header {
  background-color: $primary-color;
}

.nav-item {
  color: $secondary-color;
}

.section-title {
  color: $primary-color;
}

.product-card {
  background-color: $background-color;
}

.footer {
  background-color: $secondary-color;
  color: #fff;
}
