//typography

.dashboard {
  .dashboard-header {
    .logo {
      font-size: 16px;
      font-weight: 700;
    }

    .menu {
      display: flex;
      gap: 36px;

      .menu-item {
        color: $secondary-color;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 24px;

    .members-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .section-title {
        font-size: 20px;
        font-weight: 700;
        color: $secondary-color;
      }

      .add-member {
        font-size: 20px;
        font-weight: 700;
        color: $primary-color;
        cursor: pointer;
      }

      .member-card {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .member-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
      }

      .member-info {
        flex: 1;
      }

      .member-name {
        font-size: 20px;
        font-weight: bold;
      }

      .member-relation {
        margin-top: 5px;
        color: #666;
      }

      .member-condition {
        margin-top: 10px;
      }

      .member-health,
      .member-device {
        margin-bottom: 5px;
      }

      .member-details-btn {
        background-color: #007bff;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
      }

      .member-details-btn:hover {
        background-color: #0056b3;
      }
    }
  }
}
