<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart Sensors</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

  <link href="style.css" rel="stylesheet" />
</head>

<body>

  <div id="app">
    <header class="header">
      <h1 class="header-title">Smart Sensors</h1>
      <nav class="nav">
        <a href="index.html">Home</a>
        <a href="how-it-works.html" class="nav-item">How it works</a>
        <a href="research.html" class="nav-item">Research</a>
        <a href="#" class="nav-login">Login/Signup</a>
      </nav>
    </header>

    <main>
      <section class="login-form">
        <h2>{{ formType }}</h2>
        <form @submit="submitForm" class="login-form">
          <label for="name" v-if="!showLoginForm">Name:</label>
          <input type="text" id="name" v-model="signupForm.name" v-if="!showLoginForm" required />
          <label for="email">Email:</label>
          <input type="email" id="email" v-model="showLoginForm ? loginForm.email : signupForm.email" required />
          <label for="password">Password:</label>
          <input type="password" id="password" v-model="showLoginForm ? loginForm.password : signupForm.password"
            required />
          <button @click="toggleForm" class="signup">{{ showLoginForm ? 'Login' : 'Signup' }}</button>
          <button type="submit">{{ showLoginForm ? 'Login' : 'Signup' }}</button>
        </form>
      </section>
    </main>

    <footer class="footer">
      <p class="footer-text">&copy; 2023 - Company, Inc. All rights reserved. Address Zipcode</p>
      <p class="footer-items">Item 1 | Item 2 | Item 3</p>
    </footer>
  </div>


</body>
<script>
  new Vue({
    el: "#app",
    data() {
      return {
        showLoginForm: true,
        formType: "Login",
        loginForm: {
          email: "",
          password: "",
        },
        signupForm: {
          name: "",
          email: "",
          password: "",
        },
        // healthCondition: "Normal", // Replace with dynamic data from backend
      };
    },
    methods: {
      toggleForm() {
        this.showLoginForm = !this.showLoginForm;
        this.formType = this.showLoginForm ? "Login" : "Signup";
      },
      async submitForm(event) {
        event.preventDefault();
        if (this.showLoginForm) {
          await this.login(event);
        } else {
          await this.signup(event);
        }
      },
      async login(event) {
        try {
          const response = await fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(this.loginForm),
          });
          if (response.ok) {
            // Redirect to the portal.html page
            window.location.href = "userportal.html";
          } else {
            console.error("Login failed");
          }
        } catch (error) {
          console.error(error);
        }
        this.loginForm.email = "";
        this.loginForm.password = "";
      },

      async signup(event) {
        event.preventDefault();
        try {
          const response = await fetch("/signup", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(this.signupForm),
          });
          if (response.ok) {
            window.location.href = "userportal.html";
          } else {
            console.error("Signup failed");
          }
        } catch (error) {
          console.error(error);
        }
        this.signupForm.name = "";
        this.signupForm.email = "";
        this.signupForm.password = "";
      },
    },
  });

</script>

</html>